.App {
  height: 100vh;
  text-align: center;
  /* background-color: #D9E5D6; */
  background-color: #666;
}

.jumbotron{
  background-color:#feff9c;
  max-width: 500px;
  margin: auto;
  margin-top:5%;
  box-shadow: 1em 1em 2em rgba(33,33,33,.7);
  border-radius: 0px;
  
  font-family: 'Amatic SC', cursive;
  font-size: xx-large;

  transition: transform .2s linear, max-width .2s linear;
  transform:rotate(-5deg);
  position:relative;
  top:5px;
}

.jumbotron:hover{
  box-shadow:2em 2em 2em rgba(0,0,0,.7);
  max-width: 80%;
  transform: scale(1.15);
  position:relative;
  z-index:5;
}

.about{
  transition: visibility 0s, opacity .2s linear;
  visibility: collapse;
  opacity: 0;
}

.jumbotron:hover .about{
  visibility:visible;
  opacity: 1;
}

.label_container{
  width:fit-content;
  margin: auto;
  font-family: 'Georama';
  font-size: 6vh;
}

#ruvax{
  background-color: #51c5ea;
  transform:rotate(3deg);
  margin-top: 20vh;
  margin-left: 20vw;
}

#ruvax:hover{
  box-shadow:2em 2em 2em rgba(0,0,0,.7);
  max-width: 50%;
  transform: scale(1.25);
}

#clipchimp{
  background-color: #b5d663;
  transform:rotate(-4deg);
  transition: all .2s;
  margin-top: -50vh;
  margin-left: 60vw;
}

#clipchimp:hover{
  box-shadow:2em 2em 2em rgba(0,0,0,.7);
  max-width: 50%;
  margin-left: 30vw;
  margin-top: -60vh;
  transform: scale(1.15);
}

#travel{
  background-color: #fbad4b;
  transform:rotate(0deg);
  transition: all .2s;
  margin-top: -50vh;
  margin-left: 22%;
}

#travel:hover{
  box-shadow:2em 2em 2em rgba(0,0,0,.7);
  max-width: 50%;
  margin-top: -60vh;
  transform: scale(1.25);
}

#WTF{
  background-color: #ef67a5;
  transform:rotate(5deg);
  transition: all .2s;
  margin-top: -50vh;
  margin-left: 60%;
}

#WTF:hover{
  box-shadow:2em 2em 2em rgba(0,0,0,.7);
  max-width: 50%;
  margin-left:30%;
  margin-top: -60vh;
  transform: scale(1.15);
}

#otherlinks{
  text-align:center;
  margin-bottom:10vh;
  font-family: 'Georama';
}

#otherlinks a{
  color: #212529;
}

#otherlinks a:hover{
  color: #d9d9d9;
  text-decoration: none;
}

#Contact{ 
  padding-bottom: 5vh;
  height:100%;
  font-size: 2em;
}

#Contact a{
  color: #212529;
}

#Contact a:hover{
  color: #d9d9d9;
  text-decoration: none;
}